<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NIO Statool</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
        <div class="container">
        <h1>{{ title }}</h1> 
        <p>This is my --> {{ nickname }}</p> 
        <table>
            <tr>
                <th>name</th>
                <th>username</th>
            </tr>
            {% for device in devices %}
            <tr>
                <th>{{ device.name }}</th>
                <th>{{ device.username }}</th>
                </tr>
            {% endfor %}
        </table>      
</div>
</body>
</html>