<!DOCTYPE html>                                                                                  │
<html lang="en">                                                                                 │System check identified no issues (0 silenced).                
<head>                                                                                           │April 05, 2020 - 14:57:29
    <meta charset="UTF-8">                                                                       │Django version 3.0.2, using settings 'NIO.settings'            
    <title>NIO Statool</title>                                                                   │Starting development server at http://192.168.15.76:7777/      
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap│Quit the server with CONTROL-C.
.min.css"                                                                                        │Not Found: /index
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorig│[05/Apr/2020 14:57:31] "GET /index HTTP/1.1" 404 2285          
in="anonymous">                                                                                  │[05/Apr/2020 14:57:34] "GET / HTTP/1.1" 200 1241               
</head>                                                                                          │/home/outright/NET_TOOLx/NIO/statool/views.py changed, reloading
<body>                                                                                           │.
</body>                                                                                          │[05/Apr/2020 15:01:14] "GET /private HTTP/1.1" 404 2291        
</html>
