<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NIO Statool</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <h2>{{ device.name }} ({{ device.host }}) - Interfaces </h2>
        <table style="width:100%">
            <tr>
                <th>Interface name</th>
                <th>Description</th>
                <th>IP</th>
                <th>Mask</th>
                <th>Enabled</th>
                <th>Status (up/down)</th>
            </tr>
            {% for interface_name, interface in interfaces.items %}
            <tr>
                <td>{{ interface_name}}</td>
                <td>{{ interface.description }}</td>
            {% for ipaddress_name, ipaddress in ipaddress.items %}
              {% if interface_name == ipaddress_name %}
                {% for ipaddr, ip in ipaddress.ipv4.items %}
                <td>{{ ipaddr }}</td>
                {% endfor %}
                {% for interface_name, ipv4 in ipaddress.ipv4.items %}
                <td>{{ ipv4.prefix_length }}</td>
                {% endfor %}
              {% else %}
              <td> -- </td>
              {% endif %}
            {% endfor %}
                <td><input type="checkbox" name="name1" {% if interface.is_enabled %}checked {% endif %}>&nbsp;</td>
                <td><input type="checkbox" name="name1" {% if interface.is_up %}checked {% endif %}>&nbsp;</td>
            </tr>
            {% endfor %}
        </table>      
    </div>
</body>
</html>